body{
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0px;
    background: white;
    font-family: arial;

}
.nav{
    width: 100%;
    height: 80px;
    margin: auto;
    line-height: 4;
    color: white;
    display: flex;
    background-color: gray;
}

.leftNav{
    padding: 10px;
    width: 50%;
}

.leftNav img{
    width: 200px;
    height: 140px;

}

.rightNav{

    width: 50%;
    text-align: right;

}

.nav a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 50px;
}

.nav a:hover{
    color: black;
    font-weight: bold;
}

.header{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header h1{
    width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    color: #444746;
}

form{
    border: 5px solid black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}
form .option{
    padding: 10px;
    padding-left: 110px;

}
form .fill{
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

form .clicking{
   padding: 10px;
   padding-left: 400px;
}

form .clicking .hello{
    width: 150px;
    height: 30px;
}

footer{
    padding: 0px;
    margin: 0px;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h3{
    height: 40px;
    padding-top: 20px;
}
