body{
    height: 70%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: silver;
}

.rightnav{
    background-color: gray;
    height: 50px;

}

.rightnav a{
    float: right;
    padding-top: 10px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
.box{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.box form{
    width: 270px;
    padding: 20px;
    margin: auto;
    background: white;
    border-radius: 6px;
}

.msg{
    width: 40%;
    border-radius: 6px;
    margin: auto;
    background: white;
    color: red;
}

footer{
    padding: 0px;
    margin: 0px;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h3{
    height: 40px;
    padding-top: 20px;
}