body{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(150deg, #3e32a8, #e310c7);
}

.box{
    width: 100%;
    margin-top: 40px;
    text-align: center;
    position: absolute;
}

.box form{
    width: 270px;
    padding: 20px;
    margin: auto;
    background: white;
    border-radius: 6px;
}

.msg{
    width: 40%;
    border-radius: 6px;
    margin: auto;
    background: white;
    color: red;
}