{% load static %}
{% static "images" as baseUrl %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <title>Home</title>
    </head>
    <body>
        <div class="nav">
            <div class="leftNav">
                <img src="{% static 'images/img.jpg' %}" alt="logo image" width="150px" height="100px">
            </div>
            <div class="rightNav">
                {% if user.is_authenticated %}
                    Hello, {{user.first_name}}
                    <a href="authentication/logout">logout</a>
                {% else %}
                    <a href="authentication/registration">Register</a>
                    <a href="authentication/login">login</a>
                {% endif %}
                <a href="{% url 'news' %}">News</a>
            </div>
        </div>
        <div class="header">
            <h1>TAX CALCULATOR NEPAL</h1>

            <form action="calc" method="post">
                {% csrf_token %}
                <div class="option">
                    Marital status: <select name='gender'>
                    <option value="married" selected>Married</option>
                    <option value="unmarried">Unmarried</option>
                    </select>
                </div>
                <div class="fill">
                    Enter your Salary: <input id="one" type="number" name='salary'><br><br>
                    Number of Month: <input id="two" type="number" name="month"><br><br>
                    Number of Bonus: <input id="three" type="number"  name="bonus"><br><br>
                    Medical expenses: <input id="four" type="number" name="expense"><br><br>
                    <h2>Total income: {{total}}</h2>
                    <h2>Payable Tax: {{result}}</h2>
                </div>
                <div class="clicking">
                    <input class="left hello" type="reset">
                    <input class="right hello" id="ok" type = "submit" placeholder="Calculate">
                </div>
            </form>
            <div class="msg">
                {% for message in messages %}
                    <h3>Warning!:{{message}}</h3>
                {% endfor %}
            </div>
        </div>
        <footer>
            <h3><center color="white">Copyright &copy; tax calculator 2021</center></h3>
        </footer>
    </body>
   
</html>
