{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}"/>
</head>
<body>
    <div class="rightNav">
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div class="box">
        <form id="form1" action="registration" method="post">
            {% csrf_token %}
            <h2>Register</h2>
            <input type="text" name="first_name" placeholder="First Name" id="firstName"><br><br>
            <input type="text" name="last_name" placeholder="Last Name" id="lastName"><br><br>
            <input type="text" name="username" placeholder="Username" id="userName"><br><br>
            <input type="email" name="email" placeholder="Email" id="email"><br><br>
            <input type="password" name="password1" placeholder="Password" id="password1"><br><br>
            <input type="password" name="password2" placeholder="Confirm Password" id="password2"><br><br><br>
            <input type="Submit">
        </form>
        <div class="msg">
            {% for message in messages %}
                <h3>Warning!: {{message}}</h3>
            {% endfor %}
        </div>
    </div>
    
</body><br><br><br><br>

<footer>
    <hr size="4" color="white">
    <h3><center>Copyright &copy; tax calculator 2021</center></h3>
</footer>
</html>